<div class="flex py-4">
  <%= form_with url: sessions_register_path, class: "mx-auto w-full md:w-1/3 " do |f| %>
    <div>
      <%= f.label :installation_password %>
      <%= f.password_field :installation_password, required: true %>
    </div>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div>
      <%= f.label :nickname %>
      <%= f.text_field :nickname, required: true %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <%= f.submit "Register", class: "w-full mt-4" %>
  <% end %>
</div>