<!DOCTYPE html>
<html>
  <head>
    <title><%= PageService::Title.new(@title).call! %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <%= render "page/responsive_navbar" %>

    <div class="flex flex-col justify-between min-h-screen">
      <div>
        <%= render(Page::WarningsComponent.new(action_name: action_name)) %>

        <%= yield %>
      </div>

      <%= render "page/responsive_footer" %>
    </div>
    <%= content_for :render_async %>
  </body>
</html>
