<!DOCTYPE html>
<html>
  <head>
    <title><%= PageService::Title.new(@title).call! %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap">
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <div class="flex flex-col justify-between min-h-screen">
      <div>
        <%= yield %>
      </div>

      <%= render "page/responsive_footer" %>
    </div>
  </body>
</html>
