<!DOCTYPE html>
<html>
  <head>
    <title><%= PageService::Title.new(@title).call! %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_packs_with_chunks_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <div class="flex flex-col justify-between min-h-screen">
      <%= yield %>

      <%= render "page/responsive_footer" %>
    </div>
  </body>
</html>
